{% extends 'base.html' %}

{% block content %}
<div class="container py-5 mt-5 pt-5">
  <h2 class="mb-4">Login</h2>
  
  {% if messages %}
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

  <div class="d-flex justify-content-center mt-5">
    <div class="card shadow" style="width: 100%; max-width: 400px;">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label">Usuário</label>
            <input type="text" name="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
