{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<section class="services section-padding" id="voluntarios">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-header text-center pb-5">
					<h2>Voluntários</h2>
					<p>Seja voluntário em uma de nossas áreas<br>e ajude o Instituto Marilu Godoi.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6 offset-3">
				<div class="card text-white bg-dark-blue pb-2">
					<div class="card-body">
						<h3 class="card-title text-center">Formulário</h3>
						<form method="post">
							{% csrf_token %}
							<div class="col-md-12 mb-4">
								<label for="email" class="form-label">E-mail</label>
								{{ form.email|add_class:"form-control" }}
							</div>
							<div class="col-md-12 mb-4">
								<label for="nome" class="form-label">Nome</label>
								{{ form.nome|add_class:"form-control" }}
							</div>
							<div class="col-md-12 mb-4">
								<label for="telefone" class="form-label">WhatsApp</label>
								{{ form.telefone|add_class:"form-control" }}
							</div>
							<div class="col-md-12 mb-4">
								<label for="endereco" class="form-label">Endereço</label>
								{{ form.endereco|add_class:"form-control" }}
							</div>
							<div class="col-md-12 mb-4">
								<fieldset>
									<legend>Cidade</legend>
									{% for radio in form.cidade %}
										<div class="form-check">
											{{ radio.tag }}
											<label class="form-text text-white" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
										</div>
									{% endfor %}
								</fieldset>
							</div>
							<div class="col-md-12 mb-4">
								<fieldset>
									<legend>Área de atuação</legend>
									{% for radio in form.area %}
										<div class="form-check">
											{{ radio.tag }}
											<label class="form-text text-white" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
										</div>
									{% endfor %}
								</fieldset>
							</div>
							<button type="submit" class="btn bg-warning text-dark">{% if editar %}Salvar Alterações{% else %}Inscreva-se{% endif %}</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
