{% extends 'base.html' %}
{% load static %}
{% block title %}Página Inicial - Instituto Marilu Godoi{% endblock %}
{% block content %}
<div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
    <div class="carousel-indicators">
        <button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img alt="..." class="d-block w-100" src="{% static 'img/sobre.jpg' %}">
            <div class="carousel-caption">
                <h5>Em Defesa dos Animais</h5>
                <p>Há quase 10 anos em São José dos Campos focando na educação para conscientização dos cuidados dos animais.</p>
                <p><a class="btn btn-warning mt-3" href="#about">Aprenda Mais</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <img alt="..." class="d-block w-100" src="{% static 'img/ong.png' %}">
            <div class="carousel-caption">
                <h5>Seja um Voluntário</h5>
                <p>Ajude-nos em qualquer um de nossos projetos.</p>
                <p><a class="btn btn-warning mt-3" href="#voluntarios">Aprenda Mais</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <img alt="..." class="d-block w-100" src="{% static 'img/nfsp.jpeg' %}">
            <div class="carousel-caption">
                <h5>Doe sua Nota Fiscal Paulista</h5>
                <p>Os créditos de sua Nota Fiscal Paulista vão automaticamente para o Instituto Marilu Godoi.</p>
                <p><a class="btn btn-warning mt-3" href="#notafiscal">Aprenda Mais</a></p>
            </div>
        </div>
    </div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
</div>
<!-- about section starts -->
<section class="about section-padding" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img"><a href="https://linktr.ee/institutomarilugodoi" target="_blank"><img alt="" class="img-fluid" src="{% static 'img/PHOTO-2025-03-13-15-50-40.jpg' %}"></a></div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                <div class="about-text">
                    <h2>Conheça o Instituto<br>
                    Marilu Godoi</h2>
                    <p>O Instituto Marilu Godoi (IMG) é uma associação sem fins lucrativos, de caráter filantrópico, assistencial e educacional, com o objetivo de atender a defesa e a proteção dos animais e do meio ambiente.</p>
                    <p>Com quase dez anos de existência em São José dos Campos, em dia com as exigências legais, a entidade tem como foco utilizar a educação para conscientizar e transformar definitivamente a forma com que as pessoas veem e cuidam dos animais.</p>
                    <p>Acreditamos que quadros como abandono, maus-tratos, falta de castração, por exemplo, só serão mudados (definitivamente) quando as pessoas tiverem consciência da responsabilidade de se ter um animal em casa.</p>
                    <p>É preciso que todos entendam sua função quando o assunto é Causa Animal. Isso vale para o poder público, para as entidades e também para a sociedade. É um trabalho em conjunto. E o Instituto acredita que só por meio da educação é possível conseguir isso.</p>
                    <!-- <a class="btn btn-warning" href="#">Leia mais...</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section ends -->
<!-- voluntarios section starts -->
<section class="services section-padding" id="voluntarios">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Voluntários</h2>
                    <p>Seja voluntário em uma de nossas áreas<br>
                    e ajude o Instituto Marilu Godoi.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <a class="text-decoration-none" href="{% url 'cadastrar_voluntario' %}?area=Evento de adoção">
                    <div class="card card-hover text-white text-center bg-dark-blue pb-2">
                        <div class="card-body">
                            <i class="bi bi-shop-window"></i>
                            <h3 class="card-title">Evento de Adoção</h3>
                            <p class="lead">Partice dos trabalhos e atividades de nossos eventos e ajude os animais a encontrar um novo lar</p><span class="btn bg-warning text-dark">Inscreva-se</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <a class="text-decoration-none" href="{% url 'cadastrar_voluntario' %}?area=Cuidados e Bem-Estar">
                    <div class="card card-hover text-white text-center bg-dark-blue pb-2">
                        <div class="card-body">
                            <i class="bi bi-scissors"></i>
                            <h3 class="card-title">Cuidado e Bem-Estar</h3>
                            <p class="lead">Ajude-nos com banho, tosa, lares temporários e outras formas de cuidados</p><span class="btn bg-warning text-dark">Inscreva-se</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <a class="text-decoration-none" href="{% url 'cadastrar_voluntario' %}?area=Associado">
                    <div class="card card-hover text-white text-center bg-dark-blue pb-2">
                        <div class="card-body">
                            <i class="bi bi-person-circle"></i>
                            <h3 class="card-title">Associe-se</h3>
                            <p class="lead">Com apenas 1 real por dia você ajuda a salvar a vida dos bichinhos abandonados</p><span class="btn bg-warning text-dark">Inscreva-se</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <a class="text-decoration-none" href="{% url 'cadastrar_voluntario' %}?area=Outras tarefas">
                    <div class="card card-hover text-white text-center bg-dark-blue pb-2">
                        <div class="card-body">
                            <i class="bi bi-clipboard-check"></i>
                            <h3 class="card-title">Outras Tarefas</h3>
                            <p class="lead">Não pode ajudar diretamente? Inscreva-se e veja outras formas de ajudar</p><span class="btn bg-warning text-dark">Inscreva-se</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- voluntarios section ends -->
<!-- brecho section starts -->
<section class="about section-padding" id="brecho">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                <div class="about-text">
                    <h2>Brechó Solidário</h2>
                    <p>No Brechó Solidário do IMG, você leva muito, gasta pouco e ainda ajuda os animais. São roupas femininas, masculinas, sapatos, bolsas, acessórios e itens para pets, como roupinhas, casas e caminhas. As doações passam por análise de qualidade, limpeza e organização para deixar tudo certinho para os clientes.</p>
                    <p>Ah... OS preços são acessíveis, as peças são únicas, têm qualidade e ainda estimulam o consumo sustentável e solidário, pois parte das vendas é investida na assistência de animais abandonados.</p>
                    <p>Aceitamos cartão de débito, crédito, pix e até parcelam as compras, dependendo do valor.</p>
                    <p>O Brechó Solidário IMG fica na Rua Peroba, 238, no Jardim das Indústrias, com estacionamento fácil.</p>
                    <p>Se eu fosse você, ia lá conhecer!  De segunda a sábado.</p>
                    <!-- <a class="btn btn-warning" href="#">Leia mais...</a> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img"><a href="https://www.instagram.com/img_brecho/?igsh=MXBjanM5MDBzbjVraQ%3D%3D" target="_blank"><img alt="" class="img-fluid" src="{% static 'img/PHOTO-2025-03-13-14-58-03.jpg'%}"></a></div>
            </div>
        </div>
    </div>
</section>
<!-- brecho section ends -->
<!-- souvenir starts -->
<section class="portfolio section-padding" id="souvenir">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Souvenir</h2>
                    <p>As vendas são totalmente <br>
                    revertidas para nossas ações.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
                <a class="text-decoration-none" href="https://www.instagram.com/reel/DHQq3QlxeAR/?igsh=cWFkbW5nMGU0eXFr">
                    <div class="card card-hover text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                            <div class="img-area mb-4"><img alt="" class="img-fluid" src="{% static 'img/PHOTO-2025-03-13-15-02-01.jpg' %}"></div>
                            <h3 class="card-title">Linha IMG STORES</h3>
                            <p class="lead">A linha IMG Stores traz "produtos do bem" e está disponível para você</p><button class="btn bg-warning text-dark">Acesse</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <a class="text-decoration-none" href="https://www.instagram.com/reel/DHQq3QlxeAR/?igsh=cWFkbW5nMGU0eXFr">
                    <div class="card card-hover text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                            <div class="img-area mb-4"><img alt="" class="img-fluid" src="{% static 'img/PHOTO-2025-03-13-15-02-03 4.jpg' %}"></div>
                            <h3 class="card-title">Vestuário</h3>
                            <p class="lead">Camisetas, viseiras, aventais e muito mais.</p><button class="btn bg-warning text-dark">Acesse</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <a class="text-decoration-none" href="https://www.instagram.com/reel/DHQq3QlxeAR/?igsh=cWFkbW5nMGU0eXFr">
                    <div class="card card-hover text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                            <div class="img-area mb-4"><img alt="" class="img-fluid" src="{% static 'img/PHOTO-2025-03-13-15-02-01 2.jpg' %}"></div>
                            <h3 class="card-title">Demais Produtos</h3>
                            <p class="lead">Adesivos, bowls, canecas, mochilas saco, quadros e demais itens</p><button class="btn bg-warning text-dark">Acesse</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- souvenir ends -->
<!-- nota fiscal section starts -->
<section class="about section-padding" id="notafiscal">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img"><a href="https://shorturl.at/47OxW" target="_blank"><img alt="" class="img-fluid" src="{% static 'img/nfspONG.jpg' %}"></a></div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                <div class="about-text">
                    <h2>Campanha de Doação da<br>
                    Nota Fiscal Paulista</h2>
                    <p>A novidade é que a doação, agora, passou a ser automática, de forma rápida, segura e constante. É só seguir os seguintes passos:</pp>
                    <ol>
                        <li>Acesse o site <a href="http://www.nfp.fazenda.sp.gov.br" target="_blank">(www.nfp.fazenda.sp.gov.br)</a> ou aplicativo da Nota Fiscal Paulista.</li>
                        <li>Cadastre-se ou faça seu login usando GOV.BR.</li>
                        <li>Acesse Entidades.</li>
                        <li>Vá em Doação de Cupons com CPF (automática).</li>
                        <li>Coloque o tempo de doação automática que você deseja (de preferência, tempo indeterminado).</li>
                        <li>No ícone Pesquisar, escolha nossa ONG para receber sua doação. Basta digitar o CNPJ: 24.8486480001/80</li>
                        <li>Confira o nome: INSTITUTO MARILU GODOI DE CONSCIENTIZAÇÃO E DEFESA DOS ANIMAIS E DO MEIO AMBIENTE</li>
                        <li>Clique em Confirmar. Pronto!</li>
                    </ol>
                    <p>A partir daí, cada vez que você colocar seu CPF nas notas fiscais, os créditos vão automaticamente para o Instituto Marilu Godoi.</p>
                    <p>SÓ NÃO ESQUEÇA DE PEDIR A NOTA FISCAL COM O SEU CPF.</p>
                    <!-- <a class="btn btn-warning" href="#">Leia mais...</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- nota fiscal section ends -->
<!-- adocao section starts -->
<section class="about section-padding" id="adocao">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                <div class="about-text">
                    <h2>Adoção</h2>
                    <p>Adote, não compre! Dê um lar para um amigo de quatro patas que precisa de amor e de cuidado.</p>
                    <p>A adoção de pets é uma forma de salvar vidas e de criar laços incríveis.</p>
                    <p>Nossos pets são vacinados,  castrados (se tiverem idade), vermifugados e saudáveis. </p>
                    <p>Abra seu coração! A adoção de pets é uma forma de mostrar amor e compaixão. Dê uma chance para um animal que precisa de você.</p>
                    <p>Temos eventos de adoção presencial semanal e também uma página nas redes sociais exclusiva com pets para adoção.</p>
                    <!-- <a class="btn btn-warning" href="#">Leia mais...</a> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img"><a href="https://www.instagram.com/feira_de_adocao_online_img/?igsh=aHNmYnhycDZ5amU1" target="_blank"><img alt="" class="img-fluid" src="{% static 'img/PHOTO-2025-03-13-15-56-58.jpg' %}"></a></div>
            </div>
        </div>
    </div>
</section>
<!-- adocao section ends -->
<!-- campanhas starts -->
<section class="team section-padding" id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Campanhas</h2>
                    <p>Partice junto com a gente<br>
                    em uma de nossas campanhas</p>
                </div>
            </div>
        </div>
        <div class="row gx-4 gy-4">
            <div class="col-12 col-md-12 col-lg-4">
                <a class="text-decoration-none" href="https://shorturl.at/WBNX8" target="_blank">
                    <div class="card card-hover text-white text-center bg-dark-blue pb-2 h-100">
                        <div class="card-body">
                            <!-- <img alt="" class="img-fluid rounded-circle" src="{% static 'img/team-1.jpg' %}"> -->
                            <h3 class="card-title py-2">Você doa e a gente doa</h3>
                            <p class="card-text">As rações doadas vão para os animais que estão sob a responsabilidade direta do instituto, para animais de rua, animais resgatados e também para pets de famílias necessitadas (previamente cadastradas).</p>
                            <span class="btn bg-warning text-dark">Participe</span>
                            <!-- <p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <a class="text-decoration-none" href="https://shorturl.at/47OxW" target="_blank">
                    <div class="card card-hover text-white text-center bg-dark-blue pb-2 h-100">
                        <div class="card-body">
                            <!-- <img alt="" class="img-fluid rounded-circle" src="{% static 'img/team-2.jpg' %}"> -->
                            <h3 class="card-title py-2">Nota Fiscal Paulista</h3>
                            <p class="card-text">Você doa seus créditos para nossa ONG e ajuda a salvar vidas. Agora o processo de doação ficou mais rápido e simples.</p>
                            <span class="btn bg-warning text-dark">Saiba mais</span>
                            <!-- <p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <a class="text-decoration-none" href="https://shorturl.at/gZVaS" target="_blank">
                    <div class="card card-hover text-white text-center bg-dark-blue pb-2 h-100">
                        <div class="card-body">
                            <!-- <img alt="" class="img-fluid rounded-circle" src="{% static 'img/team-3.jpg' %}"> -->
                            <h3 class="card-title py-2">Seja Associado Contribuinte</h3>
                            <p class="card-text">Com apenas 1 real por dia você ajuda a salvar a vida dos bichinhos abandonados. Planos a partir de 30 reais por mês.</p>
                            <span class="btn bg-warning text-dark">Saiba mais</span>
                            <!-- <p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <a class="text-decoration-none" href="https://shorturl.at/iNvDZ" target="_blank">
                    <div class="card card-hover text-white text-center bg-dark-blue pb-2 h-100">
                        <div class="card-body">
                            <!-- <img alt="" class="img-fluid rounded-circle" src="{% static 'img/team-4.jpg' %}""> -->
                            <h3 class="card-title py-2">Pet Quentinho</h3>
                            <p class="card-text">Outra campanha anual recolhe doações de cobertores, caminhas, casinhas, roupinhas e outros artigos pets, que são doados a abrigos e lares que acolhem animais carentes. Veja locais de entrega</p>
                            <span class="btn bg-warning text-dark">Saiba mais</span>
                            <!-- <p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <a class="text-decoration-none" href="https://www.instagram.com/p/DI_eADtxdEQ/?igsh=bmQzcGt1andvY2gw" target="_blank">
                    <div class="card card-hover text-white text-center bg-dark-blue pb-2 h-100">
                        <div class="card-body">
                            <!-- <img alt="" class="img-fluid rounded-circle" src="{% static 'img/team-4.jpg' %}""> -->
                            <h3 class="card-title py-2">Campanha de Castração</h3>
                            <p class="card-text">Oferecer possibilidades à população de castrar seus animais é uma preocupação contínua do IMG. Por isso, oferecemos uma campanha permanente de castração, com preços populares e qualidade no atendimento ao pet. Contato: 12 991598007</p>
                            <span class="btn bg-warning text-dark">Saiba mais</span>
                            <!-- <p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p> -->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- campanhas ends -->
 <!-- FAQs starts -->
<section class="team section-padding" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Perguntas Frequentes</h2>
                    <p>Perguntas e Respostas<br>
                    mais Frequentes</p>
                </div>
            </div>
        </div>
        <div class="row gx-4 gy-4">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card text-justify h-100">
                    <div class="card-body">
                        <h3 class="card-title py-2">Achei um animal. Vocês podem vir resgatar?</h3>
                        <p class="card-text">Como gostaríamos de atender a todos os pedidos que recebemos diariamente! E são muitos. Acredite: nos corta o coração, mas não temos estrutura física e nem econômica para isso. Somos todos voluntários, inclusive. Muita gente pensa que recebemos verba pública, que temos salário, que nada! Lutamos para tentar aumentar nossa atuação (até latinhas juntamos) e tiramos dinheiro do bolso na maioria das vezes. Mas fazemos de coração.</p>
                        <p class="card-text">Nós não possuímos gatil e canil para abrigo. Os animais que resgatamos ficam nas nossas próprias casas até a adoção, inclusive com animais doentes e em tratamento. E temos que arcar com todos os custos deles. Para ter ideia, às vezes precisamos recorrer ao hotel pago porque não conseguimos lar hospedeiro voluntário.</p>
                        <p class="card-text">Caso você consiga um lar temporário, podemos ajudar com DESCONTOS nas clínicas parceiras em consulta, alguns exames, internação, vacinas e até na castração. Creio que isso ajudaria. Estando saudável, podemos divulgar e tb abrir espaço para você leva-lo nas nossas feiras de adoção.</p>
                        <p class="card-text">Mais uma vez reforçamos que os bichinhos precisam da ajuda de TODA A SOCIEDADE, cada um fazendo um pouquinho. É preciso unir pessoas e criar uma rede de proteção para salvar essa vida! As Ongs sozinhas não conseguem atender a tantos pedidos. Ficamos tristes, mas temos que reconhecer nossos limites financeiros e estruturais. Esperamos que compreenda.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card text-justify h-100">
                    <div class="card-body">
                        <h3 class="card-title py-2">Preciso doar meu pet. Vocês ajudam?</h3>
                        <p class="card-text">Podemos divulgar o pet para doação, porém, ele precisa estar sadio e só postamos animais castrados (a partir da idade recomendada), vermifugados e com protocolo vacinal em dia (dentro das normas recomendadas).</p>
                        <p class="card-text">Por isso, oferecemos descontos em clínicas, nesses serviços, para ajudar quem está cuidando do bichinho a providenciar isso.</p>
                        <p class="card-text">Também podemos abrir espaço para você leva-lo nas nossas feiras de adoção, aos sábados, mas as regras são as mesmas. Infelizmente, o abandono está numa crescente na cidade, assim como a maldade humana.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card text-justify h-100">
                    <div class="card-body">
                        <h3 class="card-title py-2">Adotei um Pet. Vocês têm algum material de orientação para me ajudar?</h3>
                        <p class="card-text">Sim. Temos uma cartilha de orientação muito legal e importante para o bem-estar dos bichinhos. Clique e confira: <a href="https://issuu.com/marilugodoi/docs/cartilha_guiadeanimal_final_aorta__2_">Um Guia Animal</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQs ends -->

{% endblock %}
